<div class="usa-grid">
  <div class="usa-width-one-half">
    <%= link_to 'Back to Sites', sites_path %>
    <hr>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-half">
    <ul class='usa-unstyled-list'>
      <li><strong>Title:</strong>
      <%= @site.title %></li>
      <% if @site.github_url %>
        <li><strong>Github: </strong>
          <%= link_to @site.github_url, @site.github_url %>
        </li>
      <% end %>
      <li><strong>Total Errors:</strong>
      <%= @site.acc_errors %></li>
      <li><strong>Total Warnings:</strong>
      <%= @site.acc_warnings %></li>
      <li><strong>Github Issues:</strong></li>
      <ul>
        <% @site.issues.each do |issue| %>
          <li><strong>ID:</strong><%= issue.github_id %></li>
          <ul>
            <li><strong>Status: </strong><%= link_to issue.status, issue.link %></li>
            <li><%= link_to 'Delete Issue', [issue.site, issue],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></li>
          </ul>
        <% end %>
      </ul>
      <li>
        <%= link_to 'Error Report (Markdown)', site_error_report_path(@site.id) %>
      </li>
      <% if @site.github_url %>
        <li>
          <%= link_to 'File Github Issue', site_create_github_issue_path(@site.id) %>
        </li>
      <% end %>
      <li><%= link_to 'Edit Site', edit_site_path(@site) %></li>
    </ul>
  </div>
</div>

<div class="usa-grid">
  <div class="usa-width-one-whole">
    <table class='usa-table-borderless'>
      <thead>
        <tr>
          <th scope='col'>URL</th>
          <th scope='col'>Errors</th>
          <th scope='col'>Warnings</th>
          <th scope='col'>Report</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @site.pages.each do |page| %>
          <tr>
            <td><%= link_to page.url, page.url %></td>
            <td><%= page.acc_errors %></td>
            <td><%= page.acc_warnings %></td>
            <td><%= link_to 'Report', "#scan-#{page.id}" %></td>
            <td><%= link_to 'Delete', [page.site, page],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="usa-grid">  
  <div class="usa-width-one-half">
    <h3>Add a page:</h2>
    <%= render 'pages/form' %>
  </div>
  <div class="usa-width-one-half">
    <h3>Track a github issue:</h2>
    <%= render 'issues/form' %>
  </div>
</div>

<% @site.pages.each do |page| %>
<div class="usa-grid">
  <div class="usa-width-one-whole">
    <a href='#'>Top of page</a>
    <h2 id='scan-<%= page.id %>'>Scan: <%= page.title %></h2>
    <%= raw page.scan %>
  </div>
</div>
<% end %>



